{% extends 'base.html' %}

{% block content %}
  <h1>맛집 리스트</h1>
  <a href="{% url 'restaurants:new' %}" class="btn btn-primary mb-3">CREATE</a>

  <div class="row">
    {% for restaurant in restaurants %}
      <div class="col-md-4 mb-3">
        <div class="card shadow-sm h-100">
          <div class="card-body">
            <h5 class="card-title">{{ restaurant.name }}</h5>
            <p class="card-text text-muted">{{ restaurant.address }}</p>
            <a href="{% url 'restaurants:detail' restaurant.pk %}" class="btn btn-info">상세 정보</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
