<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Library{% endblock %}</title>
</head>
<body>
  <header>
    {% if user.is_authenticated %}
      <h1>반갑습니다. {{ user.username }}님!</h1>
      <form action="{% url 'accounts:logout' %}" method="POST" style="display: inline;">
        {% csrf_token %}
        <button type="submit">Logout</button>
      </form>
      <form action="{% url 'accounts:delete' %}" method="POST" style="display: inline;">
        {% csrf_token %}
        <button type="submit">회원탈퇴</button>
      </form>
    {% else %}
      <h1>로그인 해 주세요.</h1>
      <a href="{% url 'accounts:login' %}">[Login]</a>
      <a href="{% url 'accounts:signup' %}">[Sign Up]</a>
    {% endif %}
  </header>
  
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>