{% extends 'base.html' %}

{% block content %}
  {% if user.is_authenticated %}
    <h3>Hello, {{ user.username }}!!</h3>

    <form action="{% url 'accounts:logout' %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="LOGOUT" />
    </form>

    <form action="{% url 'accounts:my_score' %}" method="POST">
      {% csrf_token %}
      <button type="submit">Increase My Score</button>
    </form>
  {% else %}
    <h3>로그인 해 주세요.</h3>
    <a href="{% url 'accounts:login' %}">[LOGIN]</a>
  {% endif %}

  <h1>전체 유저 목록</h1>
  <ul>
    {% for person in persons %}
      <li>{{ person.username }}</li>
      <ul>
        <li>{{ person.score }}</li>
      </ul>

      {% if user.is_authenticated and user.pk == person.pk %}
        <form action="{% url 'accounts:my_score' %}" method="POST">
          {% csrf_token %}
          <button type="submit">Increase My Score</button>
        </form>
      {% endif %}
      <hr />
    {% endfor %}
  </ul>
{% endblock %}
